
body {
    background-image: url("../image/ground.svg");
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
    color: var(--text-muted);
    height: 100vh;
    overflow: hidden; 
}

.split-container {
    display: flex;
    height: 100%;
}

.form-side {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: var(--card-bg);
}

.form-wrapper {
    max-width: 537px;
    width: 100%;
}

.header-content h1 {
   color: var(--green, #4D6530);
font-family: 'Inter', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 8px;
}
.header-content p {
    color: var(--green, #4D6530);
font-family: 'Poppins';
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; 
letter-spacing: 0.08px;
}

.input-group {
    margin-bottom: 32px;
}
.input-group label {
    display: block;
    color: var(--green, #4D6530);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}

.input-with-icons {
    display: flex;
    align-items: center;
    border-radius: 18px;
    border: 1px solid var(--green, #4D6530);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 1px 1px 4px 0 rgba(77, 101, 48, 0.74);
    transition: all 0.2s ease;
}

.input-with-icons:focus-within {
    border-color: var(--btn-green);
    box-shadow: 0 0 0 4px rgba(91, 110, 65, 0.05);
}

.mask-icon {
    width: 16px; height: 16px;
    margin-left: 15px;
    pointer-events: none; 
}

.input-with-icons input {
    flex: 1;
    padding: 14px 12px;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-family: inherit;
    letter-spacing: normal;
}
.input-with-icons input::placeholder {
   color: rgba(77, 101, 48, 0.70);
   font-family: 'Inter', sans-serif;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 25px;
}
.input-with-icons input:focus { outline: none; }


.eye-icon {
    width: 20px; height: 16px;
    margin-right: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.eye-icon:hover { opacity: 0.7; }

.validation-msg {
    margin: 8px 0 8px 0;
}
.success-msg { color: var(--green, #4D6530);
 font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal; 
margin-left: 8px;} 
.error-msg { color: var(--green, #4D6530);
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 8px;
 }

.submit-btn {
    width: 100%;
    padding: 16px;
    border-radius: 18px;
    opacity: 0.9;
    background: var(--green, #4D6530);
    color: var(--beige, #C5C0A9);
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 25px;
}
.submit-btn:hover {
    background-color: #4a5935;
}
.submit-btn:active {
    transform: scale(0.98);
}

.form-footer { color: var(--green, #4D6530);
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 25px; 
text-align: center; }

.brand-section {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.brand-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo { width: 350px; margin-top: 50px;padding-left: 50px; }
.slogan { width: 340px;margin-top: -10px; padding-left: 50px; }

.hero-scene {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.hero-character {
    height: 450px;
    width: 300px;
    z-index: 3;
    padding-right: 180px;
    padding-bottom: 110px;
}

.shadow {
    position: absolute;
    bottom: 0;
    right: -330px;
    width: 500px;
    z-index: 2;
    opacity: 0.4;
    padding-right: 380px;
    padding-bottom: 90px;
}

.bottom-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.bottom-shape svg {
    width: 540px;  
    height: 450px;
    display: block;
}


